body {
    background-color: #fefefe;
    text-align: center;
    .navbar {
      float: left;
    }
    h1 {
      font-size: 40px;
      margin-top: 30px;
    }

    .calendar__nav {
      display: flex;
  
      padding: 1rem 1rem;
      color: #3b3b3b;
      
    }
  
    .calendar__nav h2 {
        font-size: 1.6rem;
        font-weight: 100;
        width: 20%;
        text-align: center;
    }
    .calendar__nav button {
        width: 30px;
        height: 30px;
        padding: 0;
        cursor: pointer;
        text-align: center;
        border: 0;
        outline: 0;
        background-color: Transparent;
    }
    
    /**
    * components/CalendarHeader
    *
    */
    .calendar__header {
      display: flex;
      color: #979797;
      font-size: 14px;
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: #e9e9e9;
    }
    
    .calendar__header div {
      border-left-width: 1px;
      border-left-style: solid;
      border-left-color: #e9e9e9;
      flex: 1;
    }
    
    /**
    * Week
    *
    */
    .week {
        display: flex;
    }
    
    /**
    * Days of the week
    *
    */
    .week__day {
        position: relative;
    
        padding-top: 1rem;
    
        text-align: center;
    
        flex: 1;

        border-bottom-width: 1px;

        border-left-width: 1px;

        border-bottom-style: solid;

        border-left-style: solid;

        border-bottom-color: #e9e9e9;

        border-left-color: #e9e9e9;

        height: 100px;
    }
    
    .week__day {
      border-radius: 0;
      color: #3b3b3b;
    }
    
    .week__day--today {
      border-radius: 0;
      color: #0000FF;
      font-weight: bold;
    }
    
    .week__day--selected {
      cursor: pointer;
    }

    /**
    * Reminders
    *
    */
    .reminder__label {
      width: 100%;
      padding: 1px;
      z-index:999;
      position:relative;
      background-color: #efefef;
    }
    
    .reminder__label.reminder__label--black {
        background-color: black;
        color: white;
    }
    
    .reminder__label.reminder__label--hard-gray {
        background-color: #404040;
        color: white;
    }

    .reminder__label.reminder__label--medium-gray {
      background-color: #808080;
      color: white;
    }

    .reminder__label.reminder__label--soft-gray {
      background-color:#c0c0c0;
      color: white;
    }

    .reminder__label.reminder__label--white {
      background-color: white;
      color: black;
    }

    .reminder__label.reminder__label--brown {
      background-color: #980000;
      color: white;
    }

    .reminder__label.reminder__label--red {
      background-color: #ff0000;
      color: white;
    }

    .reminder__label.reminder__label--orange {
      background-color: #ff9900;
      color: black;
    }

    .reminder__label.reminder__label--yellow {
      background-color: #ffff00;
      color: black;
    }

    .reminder__label.reminder__label--green {
      background-color: #00ff00;
      color: black;
    }

    .reminder__label.reminder__label--soft-blue {
      background-color: #00ffff;
      color: black;
    }

    .reminder__label.reminder__label--medium-blue {
      background-color: #4a86e8;
      color: white;
    }

    .reminder__label.reminder__label--blue {
      background-color: #0000ff;
      color: white;
    }

    .reminder__label.reminder__label--purple {
      background-color: #9900ff;
      color: white;
    }

    .reminder__label.reminder__label--pink {
      background-color: #ff00ff;
      color: white;
    }

    .full {
      height: 100%;
      width: 100%;
      position: absolute;
      right: 0;
      top: 0;
    }

    .color {
      padding: 0;
      width: 20px;
      height: 20px;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
    .color::-webkit-color-swatch {
      border: none;
      padding: 0;
    }
    .color::-webkit-color-swatch-wrapper {
      border: none;
      padding: 0;
    }
  }